@import url('https://fonts.googleapis.com/css?family=Roboto');

$nav-logo-height: 30px;
$page-font-family: 'Roboto', sans-serif;
$text-big: 24px;
$tech-box-height: 315px;
$tech-box-width: 220px;
$tech-logo-size: 100px;
$tech-box-border-radius: 3px;
$tech-box-transition: margin 0.5s ease 0.2s;
$text-medium: 16px;
$text-small: 14px;
$title-decoration-height: 90px;
$title-decoration-width: 70px;
$nav-height: 90px;

.content {
  padding: $nav-height 0 90px 0 ;
}