@import 'colors';

@import url('https://fonts.googleapis.com/css?family=Roboto');

$nav-height: 70px;
$nav-logo-height: 30px;
$page-font-family: 'Roboto', sans-serif;
$text-big: 24px;
$tech-logo-size: 100px;
$text-medium: 16px;
$text-small: 12px;
$title-decoration-height: 90px;
$title-decoration-width: 70px;


.title {
    color: $red;
    font-family: $page-font-family;
}
