.tech-container {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 165px 50px;

  .tech-box {
    align-items: center;
    background: $green;
    border-radius: $tech-box-border-radius;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    margin: 15px;
    position: relative;
    width: $tech-box-width;

    &::before {
      border: 1px solid $green;
      border-radius: $tech-box-border-radius;
      content: '';
      height: 100%;
      margin: -10px;
      transition: $tech-box-transition;
      -moz-transition: $tech-box-transition;
      -o-transition: $tech-box-transition;
      -webkit-transition: $tech-box-transition;
      position: absolute;
      width: 100%;
      z-index: -1;
    }

    &:hover {
      &::before {
        margin: 7px;
      }
    }

    img {
      height: $tech-logo-size;
      margin-top: 10px;
      margin-bottom: 2px;
      position: relative;
      width: $tech-logo-size;
    }

    h3 {
      font: $text-medium $page-font-family;
      margin-bottom: 5px;
      margin-top: 10px;
    }

    h4 {
      font: bold $text-small $page-font-family;
      margin-bottom: 13px;
      margin-top: 5px;
    }

    h5 {
      font: $text-small $page-font-family;
      margin: 12px 5px 30px;
      padding: 0 16px;
      text-align: center;
    }
  }
}
