.tech-container {
  align-items: start;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "tech1  tech2  tech3"
                       "tech1  tech4  tech5";
  justify-content: center;
  margin-bottom: 40px;

  .tech-box {
    align-items: center;
    border-radius: $tech-box-border-radius;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    margin: 15px;
    position: relative;
    width: $tech-box-width;

    img {
      height: $tech-logo-size;
      margin-top: 10px;
      margin-bottom: 2px;
      position: relative;
      width: $tech-logo-size;
    }

    h3 {
      font: $text-medium $page-font-family;
      margin-bottom: 5px;
      margin-top: 10px;
    }

    h4 {
      font: bold $text-small $page-font-family;
      margin-bottom: 13px;
      margin-top: 5px;
    }

    h5 {
      font: $text-small $page-font-family;
      margin: 12px 5px 30px;
      padding: 0 15px;
      text-align: center;
    }
  }
}

.tech1 {
  border-right: 2px solid $green;
  align-self: center;
  grid-area: tech1;
  height: 95%;
  justify-content: center;
}

.tech2 {
  grid-area: tech2;
}

.tech3 {
  grid-area: tech3;
}

.tech4 {
  grid-area: tech4;
}

.tech5 {
  grid-area: tech5;
}
