.title {
  background: url('../assets/triangle.svg') no-repeat;
  background-size: $title-decoration-width $title-decoration-height;
  color: $black;
  font: bold $text-big $page-font-family;
  height: $title-decoration-height;
  padding: 33px 0 0 52px;
}
